
@font-face {
    font-family: 'Untitled Serif Test';
    src: url('./fonts/UntitledSerifTest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Untitled Serif Test';
    src: url('./fonts/UntitledSerifTest-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk Test';
    src: url('./fonts/FoundersGrotTest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk Test';
    src: url('./fonts/FoundersGrotTest-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}